*.moc
*.obj
*.rcc
ui_*.h
qrc_*.cpp
moc_*.h
*.gch
Makefile
anykeep
anykeep.pro.user*
moc_*.cpp
*.o
*.so*
.inst
setup.exe
AnyKeep-*-setup.exe
*.autosave
*.swp
tmp
debian/files
.qmake.stash
CMakeLists.txt.user*
.DS_Store
build

# vs
GeneratedFiles

#debian
debian/.debhelper/
debian/debhelper-build-stamp
debian/libanykeep-dev.substvars
debian/libanykeep-dev/
debian/libanykeep*.substvars
debian/libanykeep3/
debian/*.log
obj-x86_64-linux-gnu/
